<a href="https://colab.research.google.com/github/RudraPratapSinghBisht/PYTHON-CODE/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
1 #This is my first lab
print("welcome to python")
a=10.5
print(type(a))

welcome to python
<class 'float'>

In [10]:
a=10+10 #single line statement
print(a)
a=10+10+\
20+20+20+\
30+20+10

print(a)

20
140

In [15]:
l1=['a',
    'e',
    'i',
    'o',
    'u',
]

l1

['a', 'e', 'i', 'o', 'u']

In [22]:
mystring="hi, my name is rudra\n  and i am studying in upes"
print (mystring)

hi, my name is rudra
  and i am studying in upes

In [23]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
print(num1+num2)

enter the first number54
enter the second number85
139

In [24]:
num1=float(input("enter the first number"))
num2=float(input("enter the second number"))
print(num1+num2)

enter the first number54
enter the second number65
119.0

In [25]:
num1=float(input("enter the first number"))
num2=float(input("enter the second number"))
product = num1*num2
print(product)

enter the first number45
enter the second number2
90.0

In [26]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
product = num1*num2
print(product)

enter the first number45
enter the second number2
90

In [27]:
num1=int(input("enter the first number"))
num2=float(input("enter the second number"))
product = num1*num2
print(product)

enter the first number45
enter the second number2
90.0